<!--rubric 63-->
<div class="container mt-4 min-size">
  <div class="row">
    <div class="col-8 offset-2 mt-5 border p-5 shadow-aboutus-contianer">
      <h2>About Us</h2>
      <p class="">This is a small market place where we sell a small amount of high qulity and handmate products.
      Also food is available. We are YOUR online Supermarket.
      Our benefits are  userfriendly Websites.
      If you want to give us a feedback or some suggestions, feel free to contact us at the email Icon at the footer.
      </p>
    </div>
  </div>
</div>
