<!-- Webpage footer -->
<!--rubric 72 -->
<div class="container-fluid border-top p-3 pt-0 footer-styling bottom">
  <!-- left footer section -->
  <div class="row pl-4">
    <div class="col-4">

      <div href="#" class="pr-3"><i class="far fa-copyright text-decoration-none"></i> Max.mustermann@mustermail.com
      <!--rubric 74-->
      <!--rubric 77-->
      <a routerLink="#/about" class="text-decoration-none">About us</a></div>
    </div>
    <!-- middle footer section -->
    <div class="col-4" id="FooterFlex">
      <!--rubric 73-->
      <!--rubric 76-->
      <a routerLink="/#" class="pr-3"><i class="fas fa-home text-dark7 text-decoration-none"></i></a>
      <a routerLink="/#/shopping" class="pr-3"><i class="fas fa-tags text-dark7 text-decoration-none"></i></a>

      <a href="#" routerLink="/#/cart" class="pr-3"><i class="fas fa-shopping-cart text-dark7"></i></a>
    </div>
    <!-- right footer section -->
    <div class="col-4 text-right">
      <!--rubric 75-->
      <!--rubric 78-->
      <a routerLink="/#/contact" class="text-dark7 text-decoration-none mr-4"><span class="mr-3 mr-sm-0 mr-md-3 d-none d-md-inline">Contact us</span><i class="fas fa-envelope"></i></a>
    </div>
  </div>
</div>
