<!-- Home Page -->
<div class="container-fluid min-size">
  <div class="row mt-4">
    <div class="col-12">
      <h5 class="offset-5">Welcome to Glocery Cloud</h5>
      <div class="text-right">
        <!-- rubric 06 -->
        <form id="checkbox">
          <input type="checkbox">Toggel Slide Show
        </form>

      </div>
      <!-- Carousel  -->
      <!-- rubric01 -->
      <div class="bd-example mt-5">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active bg-dark"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1" class="bg-danger"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2" class="bg-danger"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
           <a routerLink="/product-page/{{jsonData[0].subcategories[0].items[0].name}}">
                <img src="{{ image1 }}" class="d-block d-md-block w-25 mx-auto image" alt="...">
           </a>
              <div class="carousel-caption text-dark d-block d-md-block">
                <h5 class="text-dark">HIGH QUALITY BIB</h5>
                <p class="text-dark">Originial Handate Bib | BUY IT NOW!! | and get shipping for FREE</p>
              </div>
            </div>
            <div class="carousel-item">
              <a routerLink="/product-page/{{jsonData[1].subcategories[1].items[1].name}}">
                <img src="{{ image2 }}" class="d-block d-md-block w-25 mx-auto image" alt="...">
                </a>
                <div class="carousel-caption d-block d-md-block">
                  <h5 class="text-dark">SPECIAL OFFER</h5>
                  <p class="text-dark">ONLY TODAY 10% Spring Sale</p>
                </div>
            </div>
            <div class="carousel-item">
              <img src="{{ image3 }}" class="d-block d-md-block w-25 mx-auto image" alt="...">
              <div class="carousel-caption text-dark d-block d-md-block">
                <h5 class="text-dark">TOTAL 5% Discount</h5>
                <p class="text-dark">hihgh quality swisscheese</p>
              </div>
            </div>
          </div>
          <!-- prev arrow -->
          <!-- rubric02 -->
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <!-- rubric 07 -->
            <div><i class="fas fa-arrow-left text-dark fa-2x"></i></div>
          </a>

          <!-- next arrow -->
          <!-- rubric03 -->
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
 
            <!-- rubric 08 -->
            <div><i class="fas fa-arrow-right text-dark fa-2x"></i></div>
          </a>
        </div>
      </div>
    </div>

    <!-- SHOPP ALL Button -->
    <!-- rubric05 -->
    <div class="row mx-auto mt-5 pt-5">
      <div class="col-12 mx-auto">
        <div class="row">
          <button type="button" class="btn btn-secondary bg-danger" routerLink="/#/shopping">| SHOPP ALL |</button>
        </div>
        <br />
       
      </div>
     
      <!-- rubric 04 -->


    </div>  
  
  </div>
</div>
